<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FRASES</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body>
    <div id="myApp">
        {{listaFrases}}
        <ul>
            <li>1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
            <li>6</li>
        </ul>
        <hr>
        <ul>
            <li v-for = "miFrase in listaFrases">{{miFrase.frase}} - {{miFrase.autor}}
                <button>{{miFrase.autor}}</button>
                <p>{{miFrase.frase}}</p>
            </li>
        </ul>
        <hr>
        <label for="idFrase">Frase: </label>
        <input v-model="frase" type="text" id="idFrase">
        <p>{{frase}}</p>
        <label for="autor">Autor: </label>
        <!-- <input v-on:keypress="eventoKeyPress" v-model="autor" type="text" id="autor"> -->
        <input v-on:keypress.enter="eventoKeyPressModificador" v-model="autor" type="text" id="autor">
        <p>{{frase}}</p>
        <button v-on:click="agregarFrase">Agregar frase al inicio </button>
        <button v-on:click="agregarFraseFin">Agregar frase al final </button>
        <ul>
            <li v-for = "{frase, autor} in listaFrases">{{frase}} - {{autor}}
                <button v-if="autor!==null">{{autor}}</button>
                <p v-show="autor!==null">Autor: {{autor}}</p>
            </li>
        </ul>
    </div>
    <script src="../js/appFrases.js"></script>
</body>

</html>






